*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    position: relative;
    font-family: 'Be Vietnam Pro', sans-serif;
}

i{
    color: #DCDCDC;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* header */
.header_container{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    position: relative;
}
.header_container button{
    background-image: linear-gradient(#35373b, #232427);
    color: #DCDCDC;
    padding: 5px 8px 4px;
    margin: 0 4px;
    border: none;
    border-radius: 4px;
}
.header_container button:active{
    border-top: 2px inset #9c9c9c;
}




/* main */
.main_container{
    position: relative;
    display: flex;
}
.container{
    height: calc(100vh - 120px);;
    width: 75%;
    margin: 10px auto 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-shrink: 0;
}
.container > div{
    height: calc(100% / 5);
    width: calc(100% / 5);
    min-height: 150px;
    min-width: 200px;
    display: inline-block;
    border: 5px solid #000;
    position: relative;
}
.container > div:hover{
    border: 5px solid rgba(153, 205, 50, 0.5);

}

.name_surname{
    color: #FFF;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 4px;
}
.name_surname i{
    color: #FFF;
}

.link_arrow{
    display: inline-block;
    align-self: center;
    position: absolute;
    text-decoration: none;
    color: #000;
}
.link_arrow_left{
    left: 0;
    margin-left: 15px;
}
.link_arrow_left:active .arrow_left{
    border-right: 30px solid #0000ff;
}

.link_arrow_right{
    right: 0;
    margin-right: 15px;
}
.link_arrow_right:active .arrow_right{
    border-left: 30px solid #0000ff;
}


.arrow{
    height: 60px;
    width: 30px;
    border-top: 30px solid #000;
    border-bottom: 30px solid #000;
}
.arrow_left{
    border-right: 30px solid #d3d3d3;
}
.arrow_left:hover{
    border-right: 30px solid #87cefa;
}

.arrow_right{
    border-left: 30px solid #d3d3d3;
}
.arrow_right:hover{
    border-left: 30px solid #87cefa;
}

.arrow_left p{
    position: relative;
    bottom: 8px;
    left: 8px;
    font-size: 12px;
}
.arrow_right p{
    position: relative;
    bottom: 8px;
    right: 28px;
    font-size: 12px;
}


/* footer */
.footer_container{
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232427;
}
.audio_video, .commands{
    display: flex;
}
.footer_container > div > div{
    display: inline-block;
    text-align: center;
}
.footer_container i{
    font-size: 20px;
    padding: 0 25px;
}
.footer_container p{
    color: #DCDCDC;
    font-size: 14px;
}
.footer_container a{
    align-self: center;
    text-decoration: none;
}
.footer_container .fas.fa-chevron-up{
    font-size: 15px;
    padding: 0 8px;
    align-self: center;
}
.exit{
    background-color: #4B4C4F;
    align-self: stretch;
}
.exit p{
    line-height: 50px;
    padding: 0 10px;
    color: rgb(206, 87, 87);
    font-weight: bold;
}